<% if(alert.message != ""){ %>
    <div id="alertMessage" class="alert alert-<%= alert.status %> alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert.message %>
    </div>

    <script>
        setTimeout(() => {
            const alertElement = document.getElementById('alertMessage')
            if(alertElement) {
                alertElement.style.display = 'none'
            }
        }, 5000)
    </script>
<%}%>