<div class="card card-primary">
   <div class="card-header">
      <h3 class="card-title">Tambah Payment</h3>
   </div>
   <form action="/payment/create" method="POST">
      <div class="card-body">
         <div class="form-group">
            <label for="exampleInputEmail1">Masukan Type Pembayaran</label>
            <input type="text" name="type" class="form-control" id="type" placeholder="Enter Type Pembayaran">
         </div>
         <div class="form-group">
            <label>Bank</label>
            <div class="select2-purple">
               <select class="form-control select2 " data-placeholder="pilih bank" name="banks" id="banks" required multiple="multiple"
                  style="width: 100%;">
                  <!-- <option value="" disabled selected>Pilih Nominal</option> -->
                  <% banks.forEach((bank)=> { %>
                     <option value="<%= bank._id%>">
                        <%= bank.nameBank%>
                     </option>
                     <%})%>
               </select>
            </div>
         </div>
      </div>

      <div class="card-footer">
         <button type="submit" class="btn btn-success">Save</button>
      </div>
   </form>
</div>