<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Tambah Catgory</h3>
    </div>
    <form action="/category/create" method="POST">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Masukan Category</label>
          <input type="text" name="name" class="form-control" id="name" placeholder="Enter Category">
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
  </div>